<form id="editPostForm" class="submitForm" method="post" action="#/post/edit/{{post._id}}">
    <label>Link URL:</label>
    <input name="url" type="text"
           value="{{post.url}}">
    <label>Link Title:</label>
    <input name="title" type="text" value="{{post.title}}">
    <label>Link Thumbnail Image (optional):</label>
    <input name="image" type="text"
           value="{{post.imageUrl}}">
    <label>Comment (optional):</label>
    <textarea name="description">{{post.description}}</textarea>
    <input type="submit" value="Edit Post">
</form>