<article class="post">
    <div class="col rank">
        <span>1</span>
    </div>
    <div class="col thumbnail">
        <a href="{{url}}">
            <img src="{{imageUrl}}">
        </a>
    </div>
    <div class="post-content">
        <div class="title">
            <a href="{{url}}">
                {{title}}
            </a>
        </div>
        <div class="details">
            <div class="info">
                submitted {{timeCreated}} ago by {{author}}
            </div>
            {{> controls}}

        </div>
    </div>
</article>